* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px; 
    color: black; 
}

a {
    color: rgb(0, 119, 255);
}

#header {
    background-color: black;
    width: 800px;
    margin: 0px auto;
    padding: 5px 5px 5px 10px; 
}

#header h1 {
    color: white; 
}

#feed {
    background-color: white;
    width: 800px;
    margin: 0px auto;
    padding: 10px; 
    text-align: center;
}

#container {
    width: 800px;
    margin: 0px auto; 
    padding: 0px;
    display: flex; 
    justify-content: center;
    align-items:flex-start;
}

#sidebar {
    flex: 1;
    border: 3px solid black; 
    margin: 20px;
    text-align: center;
}

#sidebar .avatar {
    display: block;
    width: 80px;
    margin: 0px auto;
    padding: 10px; 
}

#main-content {
    flex: 2;
    margin: 10px;
}

#post {
    border: 3px solid black; 
    margin: 10px; 
    padding: 10px;
}

#top {
    display: flex;
    justify-content: space-evenly;
    margin: 5px; 
}

#top-left {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

}

#top-right {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

#likes {
    flex: 1;
    justify-content: center;
    padding: 5px;
}

#like-button {
    flex: 1;
    justify-content: center;
    padding: 5px;
}

button {
    background-color: rgb(238, 206, 66);
    border: 2px solid black;
    box-shadow: 2px 2px black; 
    padding: 5px 8px;
    display: block;
    margin: -5px 15px 0px 15px;
}

#bottom {
    padding: 10px;
}

#count {
    
}

#count2 {
    
}

#count3 {
    
}